* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Poppins', sans-serif;
}

.canvas {
  height: 718px;
  width: 375px;
  background-image: url(background.png);
  background-size: cover;
  margin: auto;
}

.status-bar {
  height: 44px;
}

.header-container {
  width: 327px;
  margin: auto;
}

.header {
  height: 48px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.my-logo {
  color: #6070ff;
  font-size: 18px;
  font-weight: bold;
  line-height: 20px;
}

.menu {
  display: flex;
  flex-direction: column;
}

.line {
  height: 2px;
  width: 16px;
  margin: 1.3px auto;
  background-color: #6070ff;
  border-radius: 30px;
}

.content {
  height: 604px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.my-name {
  width: 327px;
  font-size: 40px;
  font-weight: bolder;
  margin-bottom: 10px;
}

.my-work {
  width: 327px;
  text-justify: auto;
  font-size: 16px;
  margin-bottom: 15px;
}

.connect {
  width: 327px;
  font-size: 16;
  margin-bottom: 5px;
  color: #7f8cff;
}

.icons {
  width: 327px;
  display: flex;
}

.my-portfolio {
  text-decoration: none;
}

.github,
.linkedin,
.twitter,
.angellist,
.medium {
  width: 22px;
  height: 22px;
  border-radius: 50%;
  margin-right: 15px;
}

.github:hover,
.linkedin:hover,
.twitter:hover,
.angellist:hover,
.medium:hover {
  background-color: aqua;
}

.my-portfolio:visited {
  color: #6070ff;
}

.github:active,
.linkedin:active,
.twitter:active,
.angellist:active,
.medium:active {
  background-color: rgb(0, 81, 255);
}

.github:visited,
.linkedin:visited,
.twitter:visited,
.angellist:visited,
.medium:visited {
  background-color: rgb(255, 255, 255);
}

li {
  list-style: none;
}

/* WORKS */

.works {
  width: 375px;
  height: 2700px;
  margin: auto;
  display: grid;
  place-items: center;
  background-color: #f8f8ff;
}

.work1,
.work2,
.work3,
.work4 {
  width: 327px;
  height: 550px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: white;
  border-radius: 16px;
  border: 1px solid #dfe1e6;
}

.head-image {
  width: 295px;
  height: 200px;
  background-color: rgb(237, 177, 104);
  border-radius: 10px;
}

.work2 .head-image {
  background-color: rgb(241, 227, 210);
}

.work3 .head-image {
  background-color: rgb(249, 148, 60);
}

.head-image img {
  width: 100%;
  height: 100%;
  padding: 30px;
  object-fit: cover;
}

.work4 .head-image img {
  padding: 0;
}

.details {
  width: 295px;
  height: 300px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.project-title {
  color: #172b4d;
  font-weight: 700;
  font-size: 32px;
  line-height: 44px;
}

.three-items {
  display: flex;
  justify-content: left;
  align-items: center;
  font-style: normal;
  font-weight: 600;
  font-size: 13px;
  line-height: 16px;
  color: #7a869a;
}

.client {
  color: black;
}

.point {
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background-color: #c1c7d0;
  margin: 10px;
}

.languages {
  display: flex;
  justify-content: left;
  padding: 10px 0;
}

.primary-text {
  font-size: 15px;
}

.html,
.css,
.javaScript {
  color: #6070ff;
  background-color: #ebebff;
  border-radius: 6px;
  padding: 5px 15px;
  font-size: 12px;
  font-weight: 500;
}

.css {
  margin: 0 10px;
}

.text {
  width: 160px;
  text-align: center;
  border: 2px solid #396df2;
  border-radius: 10px;
  font-weight: 500;
  font-size: 17px;
  line-height: 24px;
  color: #396df2;
  padding: 10px;
}

a {
  text-decoration: none;
}

.text-content {
  font-family: 'Poppins', sans-serif;
  width: 160px;
  border: 2px solid #396df2;
  border-radius: 10px;
  font-weight: 500;
  font-size: 17px;
  line-height: 24px;
  color: #396df2;
  padding: 10px;
}

.text:hover,
.text-content:hover {
  color: blue;
  background-color: rgb(166, 166, 249);
}

.text:active,
.text-content:active {
  color: red;
}

.about {
  width: 375px;
  height: 1125px;
  margin: auto;
  background-color: white;
  border-radius: 6px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

.get-my-resume {
  width: 325px;
  margin-top: 20px;
}

.content2 {
  display: flex;
  flex-direction: column;
  align-items: left;
}

.skill-list {
  font-weight: 500;
  font-size: 20px;
  width: 327px;
  height: 460px;
  display: flex;
  flex-direction: column;
  align-items: left;
  justify-content: center;
}

.js-list,
.html-list,
.css-list {
  display: flex;
  flex-direction: row;
  margin: 20px 0;
  background-color: #f8f8f8;
  border-radius: 10px;
}

.languages-list-list,
.frameworks-list,
.skills-list-list {
  margin: 5px 0;
  display: flex;
  justify-content: space-between;
}

.languages-ico,
.frameworks-ico,
.skills-ico {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  margin: 10px;
}

.languages-text {
  font-size: 20px;
}

.js-ico,
.html-ico,
.css-ico {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin: 10px;
}

.js-text,
.html-text,
.css-text {
  font-size: 15px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.line-div {
  width: 100%;
  height: 1px;
  background-color: #c5c4c4;
}
